*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body{
    background-color: #eaeaea00;
}
.container{
    width: 500px;
    margin: 50px auto;
    /* border: 1px solid; */
}
.container h1{
    text-align: center;
}
.form{
    /* border: 1px solid black; */
    width: 100%;
    padding: 10px;
    /* overflow: auto; */
    margin: 40px auto;
    box-sizing: border-box;
}
#username{
    width: 100%;
    box-shadow: 0 0 8px grey;
}
#email{
    box-shadow: 0 0 8px grey;
}
#phoneNumber{
    box-shadow: 0 0 8px grey;
}
#subject{
    box-shadow: 0 0 8px grey;
}
#textarea{
    box-shadow: 0 0 8px grey;
}
#submit{
    /* float: right; */
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: orangered;
    color: white;
}
#submit:hover {
    background-color: black;
    transition: .3s;
}

/* navbar */

nav {
    background-color: rgb(238, 238, 238);
    display: flex;
    height: 7vh;
}

nav .nav-left{
    flex: 50%;
    padding-left: 100px;
    display: flex;
    align-items: center;
}

nav .nav-left li {
    display: inline;
}

nav .nav-left ul li a {
    color: black;
    padding: 12px;
}

.nav-right {
    display: flex;
    flex: 50%;
    justify-content: flex-end;
    align-items: center; 
    padding-right: 100px;
}

.nav-right a {
    background-color: orangered;
    color: white;
    padding: 8px 25px;
    border-radius: 5px;
}

.nav-right a:hover{
    background-color: black;
    transition: .5s;
}

/* end navbar */
